table {
    width:100%;
    border-collapse: collapse;
    border: 2px solid purple;
    caption-side: top;
    margin: 0 0 1em 0;
}

caption, td, th {
    padding: 0.3em;
}


td,th{
    width:25%;
    text-align:left;
    border: 7px  solid black;
    border-spacing:0;
}

caption{
    font-weight: bold;
    font-style: italic;
}